{% extends 'base.html' %}

{% block content %}
<h1>Bookmark Details</h1>

<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ bookmark.title }}</span>
                <p style="word-break: break-all;">Link: <a href="{{ bookmark.url }}" target="_blank">{{ bookmark.url }}</a></p>
                <p>Date of adding: {{ bookmark.date_created }}</p>
                <p>id:  {{ bookmark.id }}</p>
            </div>
            <div class="card-action">
                <a class="btn orange" href="{% url 'bookmarks_update' bookmark.id %}">Edit</a>
                <a class="btn red" href="{% url 'bookmarks_delete' bookmark.id %}">Delete</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12"> 
        <h5>Tags for this bookmark:</h5>
        {% for tag in bookmark.tags.all %}
        <div class="card" style="display: inline-block; margin-right: 10px;">
            <div class="card-content">
                <span class="card-title">
                    #{{ tag.name }}
                </span>
            </div>
        </div>
        {% endfor%}
    </div>
</div>



{% endblock %}