{% extends 'base.html' %}

{% block content %}
<h1>Bookmark Detail</h1>

<div class="card">
    <div class="card-content">
        <span class="card-title">{{ bookmark.title }}</span>
        <p>Link: <a href="{{ bookmark.url }}" target="_blank">{{ bookmark.url }}</a></p>
        <p>Date of adding: {{ bookmark.date_created }}</p>
        <p>id:  {{ bookmark.id }}</p>
    </div>
    <div class="card-action">
        <a href="{% url 'bookmarks_update' bookmark.id %}">Edit</a>
        <a href="{% url 'bookmarks_delete' bookmark.id %}">Delete</a>
    </div>
</div>

{% endblock %}