{% extends 'base.html' %}

{% block content %}
<h1>Bookmarks List</h1>

<form method="get" action="">
    <label for="sort">Sort by:</label>
    <select id="sort" name="sort" onchange="this.form.submit()">
        <option value="id_asc" {% if request.GET.sort == 'id_asc' %}selected{% endif %}>Date (First to Last)</option>
        <option value="id_desc" {% if request.GET.sort == 'id_desc' or not request.GET.sort %}selected{% endif %}>Date (Last to First)</option>
        <option value="title_asc" {% if request.GET.sort == 'title_asc' %}selected{% endif %}>Title (A-Z)</option>
        <option value="title_desc" {% if request.GET.sort == 'title_desc' %}selected{% endif %}>Title (Z-A)</option>
    </select>
</form>

{% for bookmark in bookmarks %}

<a href="/bookmarks/{{ bookmark.id }}">
    <div class="card">
        <div style="color: black;" class="card-content"  
        onmouseover="this.style.color='#0d47a1';" 
        onmouseout="this.style.color='black';">
            <span class="card-title">{{ bookmark.title }}</span>
            <p style="word-break: break-all;">Link: {{ bookmark.url }}</p>
            <p>Date of adding: {{ bookmark.date_created }}</p>
        </div>
    </div>
</a>

{% endfor %}

{% endblock %}