{% extends 'base.html' %}

{% block content %}
<h1>Bookmarks List</h1>

{% for bookmark in bookmarks %}

<a href="/bookmarks/{{ bookmark.id }}">
    <div class="card">
        <div style="color: black;" class="card-content"  
        onmouseover="this.style.color='#0d47a1';" 
        onmouseout="this.style.color='black';">
            <span class="card-title">{{ bookmark.title }}</span>
            <p style="word-break: break-all;">Link: {{ bookmark.url }}</p>
            <p>Date of adding: {{ bookmark.date_created }}</p>
        </div>
    </div>
</a>

{% endfor %}

{% endblock %}