{% extends 'base.html' %}

{% block content %}

{% if object %}
<h1>Edit Bookmark</h1>
{% else %}
<h1>Create Bookmark</h1>
{% endif %}

<hr>

<form action="" method="POST">
    {% csrf_token %}
    <table style="text-color: white;">
        {{ form.as_table }}
    </table>

    <label for="colors">Choose tags:</label>
    <select multiple="multiple" name="colors[]" id="colors">
        <option value="red">Red</option>
        <option value="blue">Blue</option>
        <option value="green">Green</option>
        <option value="yellow">Yellow</option>
    </select>

    <input type="submit" value="Submit" class="btn green">
    
</form>

{% endblock %}