{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Anchor Archive</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<video autoplay muted loop style="
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background: no-repeat;
    background-size: cover;
    overflow: hidden;">
    <source src="{% static 'myapp/videos/background.mp4' %}" type="video/mp4">
</video>

<div>
  <header class="navbar-fixed">
    <nav class="black">
      <div class="nav-wrapper">
        <ul>
          <li><a href="{% url 'home' %}" class="left brand-logo">&nbsp;&nbsp;Anchor Archive</a></li>
        </ul>
        <ul class="right">
          <li><a href="{% url 'bookmarks_create' %}">Add a Bookmark</a></li>
          <li><a href="{% url 'index' %}">View All My Bookmarks</a></li>
          <li><a href="{% url 'tags_create' %}">Add a Tag</a></li>
          <li><a href="{% url 'tags_index' %}">View All Tags</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <main style=" 
  padding: 15px;
  border-radius: 5px;" 
  class="container">
    {% block content %}
    {% endblock %}
  </main>
  
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems);
});
</script>

</body>



</html>